<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.alive.kanjiwoh.mapper.WordMapper">
    <select id="findAll" resultType="com.alive.kanjiwoh.model.WordDto">
        SELECT * FROM tb_word;
    </select>
    
    <insert id="insertWordGroup" useGeneratedKeys="true" keyProperty="groupNo" parameterType="com.alive.kanjiwoh.model.WordGroupDto">
    INSERT INTO wordgroup (
                USER_NO
              , GROUP_NAME 
    ) VALUES (
                #{userNo} 
              , #{groupName}
    )
    </insert>
    
    <insert id="insertWord" parameterType="com.alive.kanjiwoh.model.WordDto">
     INSERT INTO words (
                 USER_NO
               , GROUP_NO
               , WORD
               , HIRAGANA
               , MEANS
     ) VALUES (
                 #{userNo}
               , #{groupNo}
               , #{word}
               , #{hiragana}
               , #{means}
     )
    </insert>
</mapper>